 {% extends 'main/base.html' %}
 {% load static %}
 {% block content%}
formulaire d'ajoute
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
                    <div class="form-group">
                        <label for="nom" class="form-label mt-4">nom de formation</label>
                        {{ f.name }}
                        </div>
                        <div class="form-group">
                        <label for="nom" class="form-label mt-4">nom de formation</label>
                        {{ f.description }}
                        </div>
                    <div class="form-group">
                        <label for="duree" class="form-label mt-4">durée de formation</label>
                            {{ f.duree }}
                        </div>
                    <div class="form-group">
                        <label for="category" class="form-label mt-4">category</label>
                       {{ f.category }}
                        </div>
                         <div class="form-group">
                            <label for="formFile" class="form-label mt-4">Default file input example</label>
                        {{ f.logo }}
                        </div>
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

 {% endblock %}